@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #abcbf1;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: rgb(173, 230, 230);
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -500px;
    margin-top: -10px;
}

.navbar {
    width: 60%;
    top: 0;
    margin: 20px;
    z-index: 100; /* Adjust the z-index value as needed */
  }

.navbar ul {
    list-style: none;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
  }

  .navbar ul li a{
    font-family: "cabin";
    color: black;
    text-decoration: none;
  }
ul {
    font-size: x-large;
}

#welcome-and-search-container {
display: flex;
flex-direction: row;
justify-content: space-between;
}

#welcome-and-search-container > div {
    position: relative;
    
  }
  
  #welcome-and-search-container > div > img {
    position: absolute;
    top: 20px; /* Adjust as needed to position the image vertically */
    left: 150px; /* Adjust as needed to position the image horizontally */
    width: 120%; /* Ensure it covers the entire container */
    z-index: -1; /* Place it behind the text and buttons */
  }

#welcome-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.search-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 200px;

    
}

#search-bar {
    height: 30px;
    margin: 20px;
}

#search-button {
    height: 50px;
}
.stats-container {
    display: flex;
    align-items: center;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(231, 231, 225);
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #ffffff;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}